body {
  background-color: rgb(39, 42, 54);
}
.card {
  color: rgb(41, 0, 75);
  background-color: rgb(129, 255, 238);
  width: 60%;
  height: 400px;
  margin: auto;
  border-radius: 10px;
  border: solid 1px white;
  text-align: center;
}

.card-nombre {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 60px;
}

.card-cargo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
  letter-spacing: 10px;
}

.card-descripcion {
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
  margin: 10px;
  background-color: rgb(163, 142, 85);
}
