.flexbox {
  height: 600px;
  border: 2px solid black;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.flex-item,
.flex-itemg {
  /* width: 100px; */ /* comentado */
  flex-basis: 100px;
}

.flex-item {
  margin: 10px;
  height: 100px;
  background-color: rgb(36, 209, 36);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  flex-grow: 10;
  flex-shrink: 6;
}

.flex-itemg {
  margin: 10px;
  height: 100px;
  background-color: rgb(49, 177, 171);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
}
