.flexbox {
  height: 600px;
  border: 2px solid black;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.flex-item {
  background-color: rgb(36, 209, 36);
  color: white;
  text-align: center;
  font-size: 50px;
  flex: 7 1 200px;
}

.flex-itemg {
  background-color: rgb(49, 177, 171);
  color: white;
  text-align: center;
  font-size: 50px;
  flex-grow: 1;
  flex-shrink: 1;
}
