body {
  margin: 0;
  font-family: sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 300px));
  grid-template-rows: 400px 200px;
}

.grid-item {
  background-color: #48e;
  margin: 40px;
  padding: 10px;
  font-size: 30px;
  color: #fff;
}
