body {
  margin: 0;
  font-family: sans-serif;
}

/* Holy.css */
.holy-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

div,
body,
header,
nav,
ul,
footer {
  box-sizing: border-box;
}

.main-wraper header,
footer {
  width: 100%;
}

/* HEADER */
header {
  background-color: #48e;
  width: 100%;
}

.main-navbar ul {
  display: flex;
  padding: 0;
}

.main-navbar li {
  list-style: none;
  margin: 10px;
}

.main-navbar a {
  color: #fff;
  display: inline-block;
  padding: 6px 9px;
}

nav a {
  text-decoration: none;
}

/* MAIN SECTION */
.main-wraper {
  display: flex;
  flex-grow: 1;
  max-width: 1000px;
}

aside,
main {
  border: 1px solid #f00;
  padding: 10px 20px;
}

.main-wraper aside {
  flex-grow: 1;
}

.secondary-navbar {
  min-width: 12rem;
  text-align: center;
}

.secondary-navbar ul {
  padding: 0;
}

.secondary-navbar li {
  list-style: none;
}

.secondary-navbar a {
  color: #48e;
  border: 1px solid #000;
  display: inline-block;
  padding: 6px 10px;
}

aside:last-child {
  min-width: 10rem;
}

/* FOOTER */
footer {
  margin-top: auto;
  border: 1px solid #f00;
  background-color: #333;
  color: #fff;
  padding: 40px;
}

@media screen and (max-width: 800px) {
  aside:last-child {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .main-wraper {
    flex-direction: column;
  }
}
