.sombras-caja {
  width: 300px;
  height: 800px;
  background-color: #4a2b8a;
  margin: 20px;
  box-shadow: 5px 5px 10px 0px rgba(8, 10, 124, 0.712);
  border-radius: 5px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0px 0px 5px rgb(238, 255, 0));
}

.contenedor-imagen {
  width: 100%;
  height: 50%;
  /* background-color: red; */
}
