.box__transition {
  width: 100px;
  height: 100px;
  background-color: red;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  transition: color 0.5s, background-color 2s, width 5s;
}

.box__transition:hover {
  width: 200px;
  background-color: green;
  color: white;
}
